<table>
    <thead>
        <th>
            Name
        </th>
        <th>
            Usage
        </th>
        <th>
            Date
        </th>
        <th>
            Actions
        </th>
    </thead>
    <tbody>
        <tr>
            <td>
                first
            </td>
            <td>
                0
            </td>
            <td>
                today
            </td>
            <td>
                <button>
                    delete
                </button>
                <button>
                    edit
                </button>
            </td>
        </tr>
    </tbody>
</table>