<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="create-update" routerLinkActive="active">
                    new
                </a>
            </li>
            <li>
                <a class="nav-link" routerLink="/" routerLinkActive="active">
                    list
                </a>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>