<nav class="navbar navbar-expand-sm bg-light">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item" *ngFor="let item of inputTypes">
                <a role="menuitem" class="nav-link dragover" (dragstart)="dragstart(item)" draggable="true">
                    {{item.type}}
                </a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div *ngFor="let item of inputs;let i = index" [ngSwitch]="item.type">

    </div>
</div>
<div class="container">
    <div class="row mt-4 p-5 bg-red rounded" (dragover)="dragover($event)" *ngIf="inputs.length<1" dropzone="copy|move"
        (drop)="drop(0,inputs)">
        whiteSpace
    </div>
    <ng-container *ngFor="let node of inputs;let i = index" [ngTemplateOutlet]="treeNode"
        [ngTemplateOutletContext]="{ $implicit: node }">
        <div class="row mt-4 p-5 bg-red rounded" (dragover)="dragover($event)" dropzone="copy|move"
            (drop)="drop(i,inputs)">
            whiteSpace {{i}}
        </div>
    </ng-container>
    <ng-template #treeNode let-item>
        <ng-container [ngSwitch]="item.tag">
            <ng-container *ngSwitchCase="'input'">
                <app-input [placeHolder]="item?.placeHolder" [type]="item.type" [label]="item?.label"
                    [required]="item.required"></app-input>
            </ng-container>
            <ng-container *ngSwitchCase="'textarea'">
                <textarea name="" id="" cols="30" rows="10"></textarea>
            </ng-container>
            <ng-container *ngSwitchCase="'mixedInput'">
                mix
            </ng-container>
            <ng-container *ngSwitchCase="'div'">
                <div class="row">
                    <div [class]="item?.bSClass" *ngIf="item?.childs?.length<1" (dragover)="dragover($event)"
                        (drop)="drop(0,item?.childs)">
                        whiteSpace
                    </div>
                    <ng-container [class]="item?.bSClass" *ngFor="let child of item.childs;let i=index"
                        [ngTemplateOutlet]="treeNode" [ngTemplateOutletContext]="{ $implicit: child }">
                        <div (dragover)="dragover($event)" (drop)="drop(i,item?.childs)">
                            whiteSpace {{i}}
                        </div>
                    </ng-container>
                </div>
            </ng-container>
            <ng-container *ngSwitchDefault>
            </ng-container>
        </ng-container>
    </ng-template>
</div>
<div class="container-fluid">
    <footer *ngIf="selectedIndex>=0" class="row">
        <header class="col-12">
            <h5>
                properties
            </h5>
            <hr>
        </header>
        <div class="col-12">
            <div class="row">
                <app-select class="col-3" label="type" [items]="inputTypes" bindValue="type"></app-select>
                <app-input class="col-3" (keyUpEvent)="updateTool($event,'name')" label="name"
                    placeHolder="name"></app-input>
                <app-input class="col-3" (keyUpEvent)="updateTool($event,'label')" label="label"
                    placeHolder="label"></app-input>
                <app-input class="col-3" (keyUpEvent)="updateTool($event,'placeHolder')" label="placeHolder"
                    placeHolder="placeHolder"></app-input>
                <app-input class="col-12" (keyUpEvent)="updateTool($event,'description')" label="descriptions"
                    placeHolder="descriptions"></app-input>
                <div class="col-12">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="required" name="required">
                        <label for="required" class="form-check-label">required</label>
                    </div>
                    <button class="btn btn-danger mt-2" (click)="deleteTool()">
                        delete ×
                    </button>
                </div>
            </div>
        </div>
    </footer>
</div>